{% extends 'base.html'%}
{% block title %}MEGA! Make Earth Great & Awesome{% endblock %}
{% block content %}

<div class="container">
    <div class="quote" align="center">
        <h1><span style="color:gold; font-weight:900">"IMAGINATION</span> IS EVERYTHING. <br>IT IS THE PREVIEW OF LIFE'S
            COMING <span style="color:gold; font-weight:900">ATTRACTIONS."</span></h1><h4 style="color:blue">~ MEGAMantra</h4>
    </div>
</div>
<br><br>
<div class="container-fluid" align="center">
    <div class="row">
        <div class="col-md-4">
            <h2>MEGA</h2>
            <h4><span style="font-weight:900">Make Earth Great & Awesome</span>(<span style="color:blue;font-weight:900">MEGA)</span> is an online platform that supports innovation and invention. It was
                founded upon realization that many people have great ideas but fail to implement them.<br><br> The
                reasons for the above include lack of implementation strategy, lack of funds and lack of an avenue to
                showcase the idea.<br> <br>MEGA lets users pitch their idea to the global audience with feedback on the
                viability of the idea and a chance for collaboration with other like minded megaminders from all over
                the world.
                <br><br>
            </h4>
            <img src="https://img5.goodfon.com/wallpaper/nbig/2/e2/planetia-zemlia-okruzhaiushchaia-sreda.jpg"
            style="height:20rem; width:25rem">
        </div>
        <div class="col-md-4">
            <h2>MEGA Collaboration</h2>
            <h4>Our team uses MEGA analytics tools to establish the pitches with most traffic (impressions & interactions).During the annual MEGA EXPO, top ideas will be selected and the idea owners will be given a
                chance to pitch before renown venture capitalists and CEOs from top companies<br>
                <br>We also encourage Megaminders (MEGA Users) to collaborate with each other. Network, connect and
                share ideas. <br> <br>MEGApp mobile application is also available on playstore and apple store.Download to enjoy cool collaborative features
            </h4><br>
            <img src="https://wallpapercave.com/wp/wp3340402.jpg" style="height:20rem; width:25rem">
        </div>
        <div class="col-md-4">
            <h2>Become a Megaminder?</h2>
            <h4><a href="{{url_for('auth.register')}}">Sign up</a> and become a member of the MEGA fraternity<br><br>Get to pitch by posting your ideas in the Megaminds forum <br><br> Get and give compliments as well as constructive criticism<br><br>"....In that craziness, we see genius!"~ Steve Jobs</h4>
            
            <iframe height="315" src="https://www.youtube.com/embed/-z4NS2zdrZc" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="width:100%"></iframe>

        </div>

    </div><br><br>
</div>







{%endblock%}